@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* Space */
		--spacing-none: 0;
		--spacing-1: 5px;
		--spacing-2: 10px;
		--spacing-3: 20px;
		--spacing-4: 40px;
		--spacing-5: 60px;
		--spacing-6: 80px;
		--spacing-7: 120px;
		--spacing-8: 240px;

		/* Sizes */
		--sizes-full: 100%;
		--sizes-prose: 65ch;
		--sizes-desktop: 1024px;
		--sizes-screenW: 100vw;
		--sizes-screenH: 100vh;

		/* Radii */
		--radii-pill: 9999px;
		--radii-circle: 50%;

		/* Font Weights */
		--fontWeights-regular: 400;
		--fontWeights-medium: 500;
		--fontWeights-bold: 700;

		/* Font Sizes */
		--fontSizes-small: 12px;
		--fontSizes-base: 16px;
		--fontSizes-1: 20px;
		--fontSizes-2: 24px;
		--fontSizes-3: 32px;
		--fontSizes-4: 48px;
		--fontSizes-5: 96px;
		--fontSizes-6: 140px;

		/* Leading */
		--leading-0: 1;
		--leading-1: 1.25;
		--leading-2: 1.5;
		--leading-3: 1.75;

		/* Stacking */
		--zIndices-init: 0;
		--zIndices-nuclear: 9999;

		/**
		 * ~~ Colors ~~
		 */

		/* Base Colors */
		--colors-black: #1b1b1b;
		--colors-gold: #d6a06f;
		--colors-white: #ffffff;

		/* Navigation */
		--colors-nav-bg: var(--colors-black);
		--colors-nav-content: var(--colors-white);
		--colors-nav-link: var(--colors-white);
		--colors-nav-link-active: var(--colors-gold);
	}

	/**
	 * Dark mode colors (default)
	 */
	:root,
	[data-color-mode='dark'] {
		/* Text */
		--colors-text-base: var(--colors-gold);

		/* Background */
		--colors-bg-base: var(--colors-black);

		/* Buttons */
		--colors-btn-bg: var(--colors-white);
		--colors-btn-content: var(--colors-black);
		--colors-btn-ring: var(--colors-gold);
		--colors-btn-border: var(--colors-gold);

		/* Borders */
		--colors-border-base: var(--colors-gold);
	}

	/**
	 * Light mode colors
	 */
	[data-color-mode='light'] {
		--colors-accent: var(--colors-gold);

		/* Text */
		--colors-text-base: var(--colors-black);

		/* Background */
		--colors-bg-base: var(--colors-white);

		/* Buttons */
		--colors-btn-bg: var(--colors-black);
		--colors-btn-content: var(--colors-white);
		--colors-btn-ring: var(--colors-gold);
		--colors-btn-border: var(--colors-gold);

		/* Borders */
		--colors-border-base: var(--colors-gold);
	}

	html {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		font-family: var(--font-sans);
	}
}
