.bgGradient {
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background: radial-gradient(
    ellipse 100% 45% at 50% 25%,
    rgba(27, 27, 27, 0.1) 0%,
    ease-in-out,
    rgba(27, 27, 27, 1) 100%
  );
}

.textGradient {
  background: linear-gradient(
    to bottom,
    rgba(27, 27, 27, 0) 0%,
    ease-in-out,
    rgba(27, 27, 27, 1) 100%
  );
}
